/* ==========================================================================
sticky footer
========================================================================== */

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
 *    letting these items shrink to smaller than their content's default
 *    minimum size.
 */
.Site {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 1 */
}
.Site-header,
.Site-footer {
  flex-shrink: 0; /* 2 */
}
.Site-content {
  flex: 1 0 auto; /* 2 */
}


//implementation:

// <body class="Site">
//   <header class="Site-header">…</header>
//   <main class="Site-content">…</main>
//   <footer class="Site-footer">…</footer>
// </body>



//version with subfooter
//=======================================//
.site-wrapper {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.page-content {
	flex: 1 0 auto;
}

#header, #footer, #sub-footer {
	//force them to maintain their vertical height
	flex-shrink: 0;
}

//implementation:

// <header id="header">…</header>
// <div class="site-wrapper">
// 	 <div class="page-content">
// 	    inner page content...
// 	 </div><!-- page content -->
//  <footer id="footer">
// </div><!-- end site wrapper -->