
body {
	padding: 50px;
}

/*controller just here to trigger the child element transform*/
.trigger {
	width: 200px;
	height: 200px;
	border: 20px solid #999;
	background: #ddd
}

.box {
	display: inline-block;
	background: pink;
	width: 200px;
	height: 200px;
	transition: transform 300ms ease-in-out;
	/*disable hover on this child element*/
	pointer-events: none;
}

/*triggered by javascript*/
.trigger.clicked .box {
	transform: translate(200px, 150px) rotate(20deg);
}

/*triggered by css hover*/
/*.trigger:hover .box {
	transform: translate(200px, 150px) rotate(20deg);
}*/

/*needed for ios 8:*/
-webkit-transition