
<!-- novalidate is just to prevent html5 from doing a popup validation -->
<form name="add_album_form" novalidate>
	<div class="alert alert-danger" ng-show="add_album_error">{{ add_album_error }}</div>
	<input type="text" placeholder="title" ng-model="adding_album.title" />
	<input type="text" name="date" ng-required="true" placeholder="yyy/yy/dd" ng-model="adding_album.date" />
	<button ng-click="addAdbum(adding_album)" class="btn btn-success">Add New Album</button>
</form>

<script>
	function myController($scope) {
		$scope.addAdbum = function(new_album) {
			if (new_album.title) {
				$scope.add_album_error = 'Missing title';
			} else if (!new_album.date || !is_valid_date(new_album.date)) {
				$scope.add_album_error = "Date not correct"
			} else {
				//valid
				$scope.add_album_error = '';
				$scope.albums.push(new_album);
				$scope.adding_album = {};
			}
		}

		function is_valid_date(the_date) {
			if (the_date.match(/^[0-9]{2,4}[\-\/\. ,][0-9]{1,2}[\-\/\. ,][0-9]{1,2}$/)) {
				var d = new Date(the_date);
				return !isNaN(d.getTime());
			} else {
				return false;
			}
		}
	}
</script>