
div {
	/*transform the origin*/
	/*transform-origin: x-axis y-axis z-axis|initial|inherit;*/
	/*difault: 50% 50% 0;*/
	transform-origin: 20% 40%;

	/*translate equal to the width of the element*/
	transform: translateX(100%);
	/*translate x and y*/
	transform: translate(10px, 10px);
	/*rotate 2d rotation*/
	transform: rotate(90deg);
	/*rotateX (3d rotation around a horizontal axis)*/
	transform: rotateX(90deg);
	/*rotateX (3d rotation around a vertical axis)*/
	transform: rotateY(90deg);
	/*rotateX (3d rotation around an axis projecting streight into the screen)*/
	transform: rotateZ(90deg);
	/*translate 3d*/
	transform: translate3d(tx, ty, tz);
}

/* ==========================================================================
// needed to work on IOS8
========================================================================== */

div {
	-webkit-transform: <same as regular transform>;
}



